{
  "openapi": "3.0.1",
  "info": {
    "title": "Matchmaker 3.2.0",
    "version": "3.2.0"
  },
  "servers": [
    {
      "url": "https://om-e23cko1to2.edgegap.net"
    }
  ],
  "paths": {
    "/backfills": {
      "post": {
        "tags": [
          "Game Server"
        ],
        "summary": "Create a backfill ticket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "BackfillRequest (backfill-example)",
                    "required": [
                      "attributes",
                      "profile",
                      "tickets"
                    ],
                    "type": "object",
                    "properties": {
                      "profile": {
                        "enum": [
                          "backfill-example"
                        ],
                        "type": "string",
                        "description": "The name of the matchmaking profile."
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/BackfillTicketAttributes"
                      },
                      "tickets": {
                        "type": "object",
                        "additionalProperties": {
                          "title": "BackfillTicketMember",
                          "required": [
                            "attributes",
                            "created_at",
                            "group_id",
                            "id",
                            "player_ip"
                          ],
                          "type": "object",
                          "properties": {
                            "id": {
                              "minLength": 1,
                              "type": "string",
                              "description": "Id of the ticket"
                            },
                            "created_at": {
                              "type": "string",
                              "description": "Date the ticket was created.",
                              "format": "date-time"
                            },
                            "player_ip": {
                              "minLength": 1,
                              "type": "string",
                              "description": "The IP Address of the player."
                            },
                            "group_id": {
                              "minLength": 1,
                              "type": "string",
                              "description": "Group ID of the ticket."
                            },
                            "attributes": {
                              "required": [
                                "backfill_group_size",
                                "beacons"
                              ],
                              "type": "object",
                              "properties": {
                                "backfill_group_size": {
                                  "minItems": 1,
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Field containing a list of values for the backfill_group_size rule. The values must have at least 1 elements in common for two tickets to match.",
                                  "example": [
                                    "value 1",
                                    "value 2",
                                    "value 3"
                                  ]
                                },
                                "beacons": {
                                  "minProperties": 1,
                                  "type": "object",
                                  "additionalProperties": {
                                    "maximum": 200,
                                    "minimum": 0,
                                    "type": "string"
                                  },
                                  "description": "Latencies object for the beacons rule.This should be a mapping of the region name to the average latency of the player to that location.",
                                  "example": {
                                    "Montreal": 12.3,
                                    "Toronto": 45.6,
                                    "Quebec": 78.9
                                  }
                                }
                              },
                              "additionalProperties": false,
                              "description": "The ticket attributes required for a ticket with the 'backfill-example' game profile."
                            }
                          },
                          "additionalProperties": false,
                          "description": "Describes a Ticket owned by a Backfill."
                        },
                        "description": "List of tickets already in the match."
                      }
                    },
                    "additionalProperties": false,
                    "description": "Expected request body for creating a backfill.",
                    "format": "json"
                  }
                ],
                "additionalProperties": false,
                "discriminator": {
                  "propertyName": "profile",
                  "mapping": {
                    "backfill-example": "BackfillRequest (backfill-example)"
                  }
                }
              },
              "examples": {
                "backfill-example": {
                  "summary": "backfill-example Example",
                  "description": "Example request body for the backfill-example profile.",
                  "value": {"profile":"backfill-example","attributes":{"assignment":{"fqdn":"cd28e6c66554.pr.edgegap.net","public_ip":"192.168.2.14","ports":{"game":{"internal":7777,"external":56890,"link":"cd28e6c66554.pr.edgegap.net:56890","protocol":"UDP"},"web":{"internal":22,"external":57440,"link":"cd28e6c66554.pr.edgegap.net:57440","protocol":"TCP"},"server":{"internal":8080,"external":8080,"link":"cd28e6c66554.pr.edgegap.net:8080","protocol":"TCP"}},"location":{"city":"Montreal","country":"Canada","continent":"North America","administrative_division":"Quebec","timezone":"America/Toronto"}}},"tickets":{"ctgnv8n9j4c6c39fec3g":{"id":"ctgnv8n9j4c6c39fec3g","created_at":"2021-09-01T12:00:00","player_ip":"174.25.48.238","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}},"ctgnv8n9j4c6c39fec4g":{"id":"ctgnv8n9j4c6c39fec4g","created_at":"2021-09-01T12:00:00","player_ip":"217.34.85.142","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}},"ctgnv8n9j4c6c39fec5g":{"id":"ctgnv8n9j4c6c39fec5g","created_at":"2021-09-01T12:00:00","player_ip":"136.224.30.243","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}}}}
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBackfillRequest"
              },
              "examples": {
                "backfill-example": {
                  "summary": "backfill-example Example",
                  "description": "Example request body for the backfill-example profile.",
                  "value": {"profile":"backfill-example","attributes":{"assignment":{"fqdn":"cd28e6c66554.pr.edgegap.net","public_ip":"192.168.2.14","ports":{"game":{"internal":7777,"external":56890,"link":"cd28e6c66554.pr.edgegap.net:56890","protocol":"UDP"},"web":{"internal":22,"external":57440,"link":"cd28e6c66554.pr.edgegap.net:57440","protocol":"TCP"},"server":{"internal":8080,"external":8080,"link":"cd28e6c66554.pr.edgegap.net:8080","protocol":"TCP"}},"location":{"city":"Montreal","country":"Canada","continent":"North America","administrative_division":"Quebec","timezone":"America/Toronto"}}},"tickets":{"ctgnv8n9j4c6c39fec3g":{"id":"ctgnv8n9j4c6c39fec3g","created_at":"2021-09-01T12:00:00","player_ip":"174.25.48.238","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}},"ctgnv8n9j4c6c39fec4g":{"id":"ctgnv8n9j4c6c39fec4g","created_at":"2021-09-01T12:00:00","player_ip":"217.34.85.142","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}},"ctgnv8n9j4c6c39fec5g":{"id":"ctgnv8n9j4c6c39fec5g","created_at":"2021-09-01T12:00:00","player_ip":"136.224.30.243","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}}}}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBackfillRequest"
              },
              "examples": {
                "backfill-example": {
                  "summary": "backfill-example Example",
                  "description": "Example request body for the backfill-example profile.",
                  "value": {"profile":"backfill-example","attributes":{"assignment":{"fqdn":"cd28e6c66554.pr.edgegap.net","public_ip":"192.168.2.14","ports":{"game":{"internal":7777,"external":56890,"link":"cd28e6c66554.pr.edgegap.net:56890","protocol":"UDP"},"web":{"internal":22,"external":57440,"link":"cd28e6c66554.pr.edgegap.net:57440","protocol":"TCP"},"server":{"internal":8080,"external":8080,"link":"cd28e6c66554.pr.edgegap.net:8080","protocol":"TCP"}},"location":{"city":"Montreal","country":"Canada","continent":"North America","administrative_division":"Quebec","timezone":"America/Toronto"}}},"tickets":{"ctgnv8n9j4c6c39fec3g":{"id":"ctgnv8n9j4c6c39fec3g","created_at":"2021-09-01T12:00:00","player_ip":"174.25.48.238","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}},"ctgnv8n9j4c6c39fec4g":{"id":"ctgnv8n9j4c6c39fec4g","created_at":"2021-09-01T12:00:00","player_ip":"217.34.85.142","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}},"ctgnv8n9j4c6c39fec5g":{"id":"ctgnv8n9j4c6c39fec5g","created_at":"2021-09-01T12:00:00","player_ip":"136.224.30.243","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}}}}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Backfill (backfill-example)",
                      "required": [
                        "id",
                        "profile",
                        "status",
                        "tickets"
                      ],
                      "type": "object",
                      "properties": {
                        "id": {
                          "minLength": 1,
                          "type": "string",
                          "description": "The ID of the backfill",
                          "example": "cqg0bg550h7uujd77khg"
                        },
                        "profile": {
                          "enum": [
                            "backfill-example"
                          ],
                          "type": "string",
                          "description": "The name of the matchmaking profile."
                        },
                        "tickets": {
                          "type": "object",
                          "additionalProperties": {
                            "title": "BackfillTicketMember",
                            "required": [
                              "attributes",
                              "created_at",
                              "group_id",
                              "id",
                              "player_ip"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "minLength": 1,
                                "type": "string",
                                "description": "Id of the ticket"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "Date the ticket was created.",
                                "format": "date-time"
                              },
                              "player_ip": {
                                "minLength": 1,
                                "type": "string",
                                "description": "The IP Address of the player."
                              },
                              "group_id": {
                                "minLength": 1,
                                "type": "string",
                                "description": "Group ID of the ticket."
                              },
                              "attributes": {
                                "required": [
                                  "backfill_group_size",
                                  "beacons"
                                ],
                                "type": "object",
                                "properties": {
                                  "backfill_group_size": {
                                    "minItems": 1,
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Field containing a list of values for the backfill_group_size rule. The values must have at least 1 elements in common for two tickets to match.",
                                    "example": [
                                      "value 1",
                                      "value 2",
                                      "value 3"
                                    ]
                                  },
                                  "beacons": {
                                    "minProperties": 1,
                                    "type": "object",
                                    "additionalProperties": {
                                      "maximum": 200,
                                      "minimum": 0,
                                      "type": "string"
                                    },
                                    "description": "Latencies object for the beacons rule.This should be a mapping of the region name to the average latency of the player to that location.",
                                    "example": {
                                      "Montreal": 12.3,
                                      "Toronto": 45.6,
                                      "Quebec": 78.9
                                    }
                                  }
                                },
                                "additionalProperties": false,
                                "description": "The ticket attributes required for a ticket with the 'backfill-example' game profile."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Describes a Ticket owned by a Backfill."
                          },
                          "description": "List of tickets already in the match."
                        },
                        "status": {
                          "$ref": "#/components/schemas/BackfillSteps"
                        },
                        "assigned_ticket": {
                          "$ref": "#/components/schemas/BackfillTicketMember"
                        }
                      },
                      "additionalProperties": false,
                      "description": "Describes a backfill ticket."
                    }
                  ],
                  "additionalProperties": false,
                  "discriminator": {
                    "propertyName": "profile",
                    "mapping": {
                      "backfill-example": "Backfill (backfill-example)"
                    }
                  }
                },
                "examples": {
                  "backfill-example": {
                    "summary": "backfill-example Example",
                    "description": "Example request body for the backfill-example profile.",
                    "value": {"id":"cqg0bg550h7uujd77khg","profile":"backfill-example","tickets":{"ctgnv8n9j4c6c39fec3g":{"id":"ctgnv8n9j4c6c39fec3g","created_at":"2021-09-01T12:00:00","player_ip":"174.25.48.238","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}},"ctgnv8n9j4c6c39fec4g":{"id":"ctgnv8n9j4c6c39fec4g","created_at":"2021-09-01T12:00:00","player_ip":"217.34.85.142","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}},"ctgnv8n9j4c6c39fec5g":{"id":"ctgnv8n9j4c6c39fec5g","created_at":"2021-09-01T12:00:00","player_ip":"136.224.30.243","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}}},"status":"SEARCHING","assigned_ticket":null}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/backfills/{backfillId}": {
      "get": {
        "tags": [
          "Game Server"
        ],
        "summary": "Read a backfill ticket's details",
        "parameters": [
          {
            "name": "backfillId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "title": "Backfill (backfill-example)",
                      "required": [
                        "id",
                        "profile",
                        "status",
                        "tickets"
                      ],
                      "type": "object",
                      "properties": {
                        "id": {
                          "minLength": 1,
                          "type": "string",
                          "description": "The ID of the backfill",
                          "example": "cqg0bg550h7uujd77khg"
                        },
                        "profile": {
                          "enum": [
                            "backfill-example"
                          ],
                          "type": "string",
                          "description": "The name of the matchmaking profile."
                        },
                        "tickets": {
                          "type": "object",
                          "additionalProperties": {
                            "title": "BackfillTicketMember",
                            "required": [
                              "attributes",
                              "created_at",
                              "group_id",
                              "id",
                              "player_ip"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "minLength": 1,
                                "type": "string",
                                "description": "Id of the ticket"
                              },
                              "created_at": {
                                "type": "string",
                                "description": "Date the ticket was created.",
                                "format": "date-time"
                              },
                              "player_ip": {
                                "minLength": 1,
                                "type": "string",
                                "description": "The IP Address of the player."
                              },
                              "group_id": {
                                "minLength": 1,
                                "type": "string",
                                "description": "Group ID of the ticket."
                              },
                              "attributes": {
                                "required": [
                                  "backfill_group_size",
                                  "beacons"
                                ],
                                "type": "object",
                                "properties": {
                                  "backfill_group_size": {
                                    "minItems": 1,
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "Field containing a list of values for the backfill_group_size rule. The values must have at least 1 elements in common for two tickets to match.",
                                    "example": [
                                      "value 1",
                                      "value 2",
                                      "value 3"
                                    ]
                                  },
                                  "beacons": {
                                    "minProperties": 1,
                                    "type": "object",
                                    "additionalProperties": {
                                      "maximum": 200,
                                      "minimum": 0,
                                      "type": "string"
                                    },
                                    "description": "Latencies object for the beacons rule.This should be a mapping of the region name to the average latency of the player to that location.",
                                    "example": {
                                      "Montreal": 12.3,
                                      "Toronto": 45.6,
                                      "Quebec": 78.9
                                    }
                                  }
                                },
                                "additionalProperties": false,
                                "description": "The ticket attributes required for a ticket with the 'backfill-example' game profile."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Describes a Ticket owned by a Backfill."
                          },
                          "description": "List of tickets already in the match."
                        },
                        "status": {
                          "$ref": "#/components/schemas/BackfillSteps"
                        },
                        "assigned_ticket": {
                          "$ref": "#/components/schemas/BackfillTicketMember"
                        }
                      },
                      "additionalProperties": false,
                      "description": "Describes a backfill ticket."
                    }
                  ],
                  "additionalProperties": false,
                  "discriminator": {
                    "propertyName": "profile",
                    "mapping": {
                      "backfill-example": "Backfill (backfill-example)"
                    }
                  }
                },
                "examples": {
                  "backfill-example": {
                    "summary": "backfill-example Example",
                    "description": "Example request body for the backfill-example profile.",
                    "value": {"id":"cqg0bg550h7uujd77khg","profile":"backfill-example","tickets":{"ctgnv8n9j4c6c39fec3g":{"id":"ctgnv8n9j4c6c39fec3g","created_at":"2021-09-01T12:00:00","player_ip":"174.25.48.238","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}},"ctgnv8n9j4c6c39fec4g":{"id":"ctgnv8n9j4c6c39fec4g","created_at":"2021-09-01T12:00:00","player_ip":"217.34.85.142","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}},"ctgnv8n9j4c6c39fec5g":{"id":"ctgnv8n9j4c6c39fec5g","created_at":"2021-09-01T12:00:00","player_ip":"136.224.30.243","group_id":"e0cf41c0-f88f-456e-a032-03b1d6821a9a","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}}},"status":"ASSIGNED","assigned_ticket":{"id":"ctgnv8n9j4c6c39fed4h","created_at":"2021-09-01T12:00:00","player_ip":"244.13.201.244","group_id":"84120c6a-3848-4024-a8ed-799615981081","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}}}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"No ticket found with ID: 'cultf3natjeg00d0nms0'"}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Game Server"
        ],
        "summary": "Delete a backfill ticket",
        "parameters": [
          {
            "name": "backfillId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"No ticket found with ID: 'cultf3natjeg00d0nms0'"}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/group-tickets": {
      "post": {
        "tags": [
          "Server to Server"
        ],
        "summary": "Create an active group",
        "description": "Creates a group of tickets that enters the matchmaking process as if created and started by the `/groups`\r\nendpoint.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "GroupRequest (backfill-example)",
                    "required": [
                      "player_tickets"
                    ],
                    "type": "object",
                    "properties": {
                      "player_tickets": {
                        "type": "array",
                        "items": {
                          "title": "GroupPlayerTicket",
                          "required": [
                            "attributes",
                            "player_ip",
                            "profile"
                          ],
                          "type": "object",
                          "properties": {
                            "player_ip": {
                              "minLength": 1,
                              "type": "string",
                              "description": "The IP address of the player."
                            },
                            "attributes": {
                              "required": [
                                "backfill_group_size",
                                "beacons"
                              ],
                              "type": "object",
                              "properties": {
                                "backfill_group_size": {
                                  "minItems": 1,
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "Field containing a list of values for the backfill_group_size rule. The values must have at least 1 elements in common for two tickets to match.",
                                  "example": [
                                    "value 1",
                                    "value 2",
                                    "value 3"
                                  ]
                                },
                                "beacons": {
                                  "minProperties": 1,
                                  "type": "object",
                                  "additionalProperties": {
                                    "maximum": 200,
                                    "minimum": 0,
                                    "type": "string"
                                  },
                                  "description": "Latencies object for the beacons rule.This should be a mapping of the region name to the average latency of the player to that location.",
                                  "example": {
                                    "Montreal": 12.3,
                                    "Toronto": 45.6,
                                    "Quebec": 78.9
                                  }
                                }
                              },
                              "additionalProperties": false,
                              "description": "The ticket attributes required for a ticket with the 'backfill-example' game profile."
                            },
                            "profile": {
                              "minLength": 1,
                              "type": "string",
                              "description": "The name of the matchmaking profile that the ticket should be associated with."
                            }
                          },
                          "additionalProperties": false,
                          "description": "The data of a single player within a matchmaking group.",
                          "format": "json"
                        },
                        "description": "List of field that will be used by the matchmaking rules.\r\nThe expected fields in this object are defined by the matchmaker configuration."
                      }
                    },
                    "additionalProperties": false,
                    "description": "Expected request body for creating a matchmaking ticket.",
                    "format": "json"
                  }
                ],
                "additionalProperties": false,
                "discriminator": {
                  "propertyName": "profile",
                  "mapping": {
                    "backfill-example": "GroupRequest (backfill-example)"
                  }
                }
              },
              "examples": {
                "backfill-example": {
                  "summary": "backfill-example Example",
                  "description": "Example request body for the backfill-example profile.",
                  "value": {"player_tickets":[{"player_ip":"174.25.48.238","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}},"profile":"backfill-example"},{"player_ip":"217.34.85.142","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}},"profile":"backfill-example"},{"player_ip":"136.224.30.243","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}},"profile":"backfill-example"}]}
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGroupRequest"
              },
              "examples": {
                "backfill-example": {
                  "summary": "backfill-example Example",
                  "description": "Example request body for the backfill-example profile.",
                  "value": {"player_tickets":[{"player_ip":"174.25.48.238","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}},"profile":"backfill-example"},{"player_ip":"217.34.85.142","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}},"profile":"backfill-example"},{"player_ip":"136.224.30.243","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}},"profile":"backfill-example"}]}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGroupRequest"
              },
              "examples": {
                "backfill-example": {
                  "summary": "backfill-example Example",
                  "description": "Example request body for the backfill-example profile.",
                  "value": {"player_tickets":[{"player_ip":"174.25.48.238","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}},"profile":"backfill-example"},{"player_ip":"217.34.85.142","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}},"profile":"backfill-example"},{"player_ip":"136.224.30.243","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}},"profile":"backfill-example"}]}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupTicketResponse"
                },
                "example": {"player_tickets":[{"id":"cqg0bg550h7uujd77khg","profile":"quickplay","group_id":"5448e6b8-a6e6-446e-b030-62eb7a4f0043","team_id":"6e6097fa-9017-4add-83c1-32e7ac80e039","player_ip":null,"assignment":{"fqdn":"cd28e6c66554.pr.edgegap.net","public_ip":"192.168.2.14","ports":{"game":{"internal":7777,"external":56890,"link":"cd28e6c66554.pr.edgegap.net:56890","protocol":"UDP"},"web":{"internal":22,"external":57440,"link":"cd28e6c66554.pr.edgegap.net:57440","protocol":"TCP"},"server":{"internal":80,"external":50110,"link":"cd28e6c66554.pr.edgegap.net:50110","protocol":"TCP"}},"location":{"city":"Montreal","country":"Canada","continent":"North America","administrative_division":"Quebec","timezone":"America/Toronto"}},"created_at":"2024-08-20T13:38:08.251393+00:00","status":"HOST_ASSIGNED","match_id":null},{"id":"cqg0bg550h7uujd77khg","profile":"quickplay","group_id":"5448e6b8-a6e6-446e-b030-62eb7a4f0043","team_id":"6e6097fa-9017-4add-83c1-32e7ac80e039","player_ip":null,"assignment":{"fqdn":"cd28e6c66554.pr.edgegap.net","public_ip":"192.168.2.14","ports":{"game":{"internal":7777,"external":56890,"link":"cd28e6c66554.pr.edgegap.net:56890","protocol":"UDP"},"web":{"internal":22,"external":57440,"link":"cd28e6c66554.pr.edgegap.net:57440","protocol":"TCP"},"server":{"internal":80,"external":50110,"link":"cd28e6c66554.pr.edgegap.net:50110","protocol":"TCP"}},"location":{"city":"Montreal","country":"Canada","continent":"North America","administrative_division":"Quebec","timezone":"America/Toronto"}},"created_at":"2024-08-20T13:38:08.251393+00:00","status":"HOST_ASSIGNED","match_id":null}]}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/groups": {
      "post": {
        "tags": [
          "Game Client"
        ],
        "summary": "Create a group",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "PartyTicketRequest (backfill-example)",
                    "required": [
                      "attributes",
                      "is_ready",
                      "profile"
                    ],
                    "type": "object",
                    "properties": {
                      "player_ip": {
                        "type": "string",
                        "description": "The IP address of the player.",
                        "nullable": true
                      },
                      "profile": {
                        "enum": [
                          "backfill-example"
                        ],
                        "type": "string",
                        "description": "The name of the matchmaking profile."
                      },
                      "attributes": {
                        "required": [
                          "backfill_group_size",
                          "beacons"
                        ],
                        "type": "object",
                        "properties": {
                          "backfill_group_size": {
                            "minItems": 1,
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Field containing a list of values for the backfill_group_size rule. The values must have at least 1 elements in common for two tickets to match.",
                            "example": [
                              "value 1",
                              "value 2",
                              "value 3"
                            ]
                          },
                          "beacons": {
                            "minProperties": 1,
                            "type": "object",
                            "additionalProperties": {
                              "maximum": 200,
                              "minimum": 0,
                              "type": "string"
                            },
                            "description": "Latencies object for the beacons rule.This should be a mapping of the region name to the average latency of the player to that location.",
                            "example": {
                              "Montreal": 12.3,
                              "Toronto": 45.6,
                              "Quebec": 78.9
                            }
                          }
                        },
                        "additionalProperties": false,
                        "description": "The ticket attributes required for a ticket with the 'backfill-example' game profile."
                      },
                      "is_ready": {
                        "type": "boolean",
                        "description": "Optionally provide if the ticket is ready on creation",
                        "example": false
                      }
                    },
                    "additionalProperties": false,
                    "description": "Expected request body for creating a matchmaking party ticket.",
                    "format": "json"
                  }
                ],
                "additionalProperties": false,
                "discriminator": {
                  "propertyName": "profile",
                  "mapping": {
                    "backfill-example": "PartyTicketRequest (backfill-example)"
                  }
                }
              },
              "examples": {
                "backfill-example": {
                  "summary": "backfill-example Example",
                  "description": "Example request body for the backfill-example profile.",
                  "value": {"is_ready":false,"player_ip":null,"profile":"backfill-example","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadPartyMemberResponse"
                },
                "example": {"member_id":"f17b754c-34f4-4cc3-b462-35fd73bebe1c","group_id":"78e61a0e-5c8e-4a60-a100-714571e2f7e5","is_ready":false,"ticket_id":null,"assignment":null,"team_id":null,"status":null}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}": {
      "get": {
        "tags": [
          "Game Client"
        ],
        "summary": "Read a group's details",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadPartyResponse"
                },
                "example": {"assignment":null,"team_id":null,"status":null}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Game Client"
        ],
        "summary": "Delete a group",
        "description": "Also deletes the group members, and cancels their matchmaking tickets if the group has entered matchmaking.",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/members": {
      "post": {
        "tags": [
          "Game Client"
        ],
        "summary": "Create a new group member",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "PartyTicketRequest (backfill-example)",
                    "required": [
                      "attributes",
                      "is_ready",
                      "profile"
                    ],
                    "type": "object",
                    "properties": {
                      "player_ip": {
                        "type": "string",
                        "description": "The IP address of the player.",
                        "nullable": true
                      },
                      "profile": {
                        "enum": [
                          "backfill-example"
                        ],
                        "type": "string",
                        "description": "The name of the matchmaking profile."
                      },
                      "attributes": {
                        "required": [
                          "backfill_group_size",
                          "beacons"
                        ],
                        "type": "object",
                        "properties": {
                          "backfill_group_size": {
                            "minItems": 1,
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Field containing a list of values for the backfill_group_size rule. The values must have at least 1 elements in common for two tickets to match.",
                            "example": [
                              "value 1",
                              "value 2",
                              "value 3"
                            ]
                          },
                          "beacons": {
                            "minProperties": 1,
                            "type": "object",
                            "additionalProperties": {
                              "maximum": 200,
                              "minimum": 0,
                              "type": "string"
                            },
                            "description": "Latencies object for the beacons rule.This should be a mapping of the region name to the average latency of the player to that location.",
                            "example": {
                              "Montreal": 12.3,
                              "Toronto": 45.6,
                              "Quebec": 78.9
                            }
                          }
                        },
                        "additionalProperties": false,
                        "description": "The ticket attributes required for a ticket with the 'backfill-example' game profile."
                      },
                      "is_ready": {
                        "type": "boolean",
                        "description": "Optionally provide if the ticket is ready on creation",
                        "example": false
                      }
                    },
                    "additionalProperties": false,
                    "description": "Expected request body for creating a matchmaking party ticket.",
                    "format": "json"
                  }
                ],
                "additionalProperties": false,
                "discriminator": {
                  "propertyName": "profile",
                  "mapping": {
                    "backfill-example": "PartyTicketRequest (backfill-example)"
                  }
                }
              },
              "examples": {
                "backfill-example": {
                  "summary": "backfill-example Example",
                  "description": "Example request body for the backfill-example profile.",
                  "value": {"is_ready":false,"player_ip":null,"profile":"backfill-example","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadPartyMemberResponse"
                },
                "example": {"member_id":"f17b754c-34f4-4cc3-b462-35fd73bebe1c","group_id":"78e61a0e-5c8e-4a60-a100-714571e2f7e5","is_ready":false,"ticket_id":null,"assignment":null,"team_id":null,"status":null}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringDetailedApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/members/{memberId}": {
      "get": {
        "tags": [
          "Game Client"
        ],
        "summary": "Read a group member's details",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadPartyMemberResponse"
                },
                "example": {"member_id":"f17b754c-34f4-4cc3-b462-35fd73bebe1c","group_id":"78e61a0e-5c8e-4a60-a100-714571e2f7e5","is_ready":true,"ticket_id":"cqg0bg550h7uujd77khg","assignment":{"fqdn":"cd28e6c66554.pr.edgegap.net","public_ip":"192.168.2.14","ports":{"game":{"internal":7777,"external":56890,"link":"cd28e6c66554.pr.edgegap.net:56890","protocol":"UDP"},"web":{"internal":22,"external":57440,"link":"cd28e6c66554.pr.edgegap.net:57440","protocol":"TCP"},"server":{"internal":80,"external":50110,"link":"cd28e6c66554.pr.edgegap.net:50110","protocol":"TCP"}},"location":{"city":"Montreal","country":"Canada","continent":"North America","administrative_division":"Quebec","timezone":"America/Toronto"}},"team_id":"6e6097fa-9017-4add-83c1-32e7ac80e039","status":"HOST_ASSIGNED"}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Game Client"
        ],
        "summary": "Update a group member",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMemberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadPartyMemberResponse"
                },
                "example": {"member_id":"f17b754c-34f4-4cc3-b462-35fd73bebe1c","group_id":"78e61a0e-5c8e-4a60-a100-714571e2f7e5","is_ready":true,"ticket_id":null,"assignment":null,"team_id":null,"status":null}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Game Client"
        ],
        "summary": "Delete a group member",
        "description": "Can only be invoked before the group has entered matchmaking.\r\nWhen the group has entered matchmaking, the group leader can exit the queue by deleting the group instead.",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/inspect/matches": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "summary": "List the active matches",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number. The default is 1.",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_limit",
            "in": "query",
            "description": "The items per page. The default is 10.",
            "required": true,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InspectMatchesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/inspect/tickets": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "summary": "List the active matchmaking tickets",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number. The default is 1.",
            "required": true,
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_limit",
            "in": "query",
            "description": "The items per page. The default is 10.",
            "required": true,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InspectTicketResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/locations/beacons": {
      "get": {
        "tags": [
          "Game Client"
        ],
        "summary": "List location beacons",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeaconListResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/monitor": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "summary": "Get the status of the service",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    },
    "/tickets": {
      "post": {
        "tags": [
          "Server to Server"
        ],
        "summary": "Create an active ticket",
        "description": "Creates a group with a single player that enters the matchmaking process as if created and started by the\r\n`/groups` endpoint.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "TicketRequest (backfill-example)",
                    "required": [
                      "attributes",
                      "profile"
                    ],
                    "type": "object",
                    "properties": {
                      "player_ip": {
                        "type": "string",
                        "description": "The IP address of the player.",
                        "nullable": true
                      },
                      "profile": {
                        "enum": [
                          "backfill-example"
                        ],
                        "type": "string",
                        "description": "The name of the matchmaking profile."
                      },
                      "attributes": {
                        "required": [
                          "backfill_group_size",
                          "beacons"
                        ],
                        "type": "object",
                        "properties": {
                          "backfill_group_size": {
                            "minItems": 1,
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Field containing a list of values for the backfill_group_size rule. The values must have at least 1 elements in common for two tickets to match.",
                            "example": [
                              "value 1",
                              "value 2",
                              "value 3"
                            ]
                          },
                          "beacons": {
                            "minProperties": 1,
                            "type": "object",
                            "additionalProperties": {
                              "maximum": 200,
                              "minimum": 0,
                              "type": "string"
                            },
                            "description": "Latencies object for the beacons rule.This should be a mapping of the region name to the average latency of the player to that location.",
                            "example": {
                              "Montreal": 12.3,
                              "Toronto": 45.6,
                              "Quebec": 78.9
                            }
                          }
                        },
                        "additionalProperties": false,
                        "description": "The ticket attributes required for a ticket with the 'backfill-example' game profile."
                      }
                    },
                    "additionalProperties": false,
                    "description": "Expected request body for creating a matchmaking ticket.",
                    "format": "json"
                  }
                ],
                "additionalProperties": false,
                "discriminator": {
                  "propertyName": "profile",
                  "mapping": {
                    "backfill-example": "TicketRequest (backfill-example)"
                  }
                }
              },
              "examples": {
                "backfill-example": {
                  "summary": "backfill-example Example",
                  "description": "Example request body for the backfill-example profile.",
                  "value": {"player_ip":null,"profile":"backfill-example","attributes":{"backfill_group_size":["value 1","value 2","value 3"],"beacons":{"Montreal":12.3,"Toronto":45.6,"Quebec":78.9}}}
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadTicketResponse"
                },
                "example": {"id":"cqg0bg550h7uujd77khg","profile":"quickplay","group_id":"908619f7-54a8-4cbc-9152-9f1787cdc3c9","team_id":null,"player_ip":"174.25.48.238","assignment":null,"created_at":"2024-08-20T13:38:08.251393+00:00","status":"SEARCHING","match_id":null}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Too many requests. Please try again later."}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/tickets/{ticketId}": {
      "get": {
        "tags": [
          "Server to Server"
        ],
        "summary": "Read a ticket's details",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadTicketResponse"
                },
                "example": {"id":"cqg0bg550h7uujd77khg","profile":"quickplay","group_id":"5448e6b8-a6e6-446e-b030-62eb7a4f0043","team_id":"6e6097fa-9017-4add-83c1-32e7ac80e039","player_ip":null,"assignment":{"fqdn":"cd28e6c66554.pr.edgegap.net","public_ip":"192.168.2.14","ports":{"game":{"internal":7777,"external":56890,"link":"cd28e6c66554.pr.edgegap.net:56890","protocol":"UDP"},"web":{"internal":22,"external":57440,"link":"cd28e6c66554.pr.edgegap.net:57440","protocol":"TCP"},"server":{"internal":80,"external":50110,"link":"cd28e6c66554.pr.edgegap.net:50110","protocol":"TCP"}},"location":{"city":"Montreal","country":"Canada","continent":"North America","administrative_division":"Quebec","timezone":"America/Toronto"}},"created_at":"2024-08-20T13:38:08.251393+00:00","status":"HOST_ASSIGNED","match_id":null}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"No ticket found with ID: 'cultf3natjeg00d0nms0'"}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Server to Server"
        ],
        "summary": "Delete a ticket",
        "description": "Selectively delete a ticket by its ID, putting the other players in the same group in the `Cancelled` state.",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"No ticket found with ID: 'cultf3natjeg00d0nms0'"}
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {"message":"Cannot delete a ticket that has been assigned. It will expire after the configured period."}
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "message": "Too many requests. Please try again later."
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "title": "Error",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "minLength": 1,
            "type": "string",
            "description": "A message indicating what went wrong with the request.",
            "example": "Some description of the error that occurred"
          }
        },
        "additionalProperties": false,
        "description": "Information about an error that occurred."
      },
      "AssignmentLocationResponse": {
        "title": "AssignmentLocation",
        "required": [
          "administrative_division",
          "city",
          "continent",
          "country",
          "timezone"
        ],
        "type": "object",
        "properties": {
          "city": {
            "minLength": 1,
            "type": "string",
            "description": "The city that the deployment is located in.",
            "example": "Montreal"
          },
          "country": {
            "minLength": 1,
            "type": "string",
            "description": "The country that the deployment is located in.",
            "example": "Canada"
          },
          "continent": {
            "minLength": 1,
            "type": "string",
            "description": "The continent that the deployment is located in.",
            "example": "North America"
          },
          "administrative_division": {
            "minLength": 1,
            "type": "string",
            "description": "The administrative division that the deployment is located in.",
            "example": "Quebec"
          },
          "timezone": {
            "minLength": 1,
            "type": "string",
            "description": "The timezone that the deployment is located in.",
            "example": "America/Toronto"
          }
        },
        "additionalProperties": false,
        "description": "Describes the location of a deployment."
      },
      "AssignmentPortResponse": {
        "title": "AssignmentPort",
        "required": [
          "external",
          "internal",
          "link",
          "protocol"
        ],
        "type": "object",
        "properties": {
          "internal": {
            "type": "integer",
            "description": "The port number that the process uses to listen for incoming connections.\r\nThis is the port that you configured in your game server.",
            "format": "int32",
            "example": 7777
          },
          "external": {
            "type": "integer",
            "description": "The port number that the game server is listening on.\r\nThis is the port that was dynamically assigned during your deployments, and is used to connect to the game\r\nserver. Requests made to this port will be forwarded to the internal port inside the deployment.",
            "format": "int32",
            "example": 51123
          },
          "link": {
            "minLength": 1,
            "type": "string",
            "description": "The link including the FQDN of the deployment and the port number that the game server is listening on.",
            "example": "f1f37d6ca0ed.pr.edgegap.net:51123"
          },
          "protocol": {
            "minLength": 1,
            "type": "string",
            "description": "The protocol that the game server is using.",
            "example": "TCP"
          }
        },
        "additionalProperties": false,
        "description": "Describes a port that a game server is listening on."
      },
      "BackfillSteps": {
        "enum": [
          "SEARCHING",
          "ASSIGNED"
        ],
        "type": "string"
      },
      "BackfillTicketAttributes": {
        "title": "BackfillRequestAttributes",
        "required": [
          "assignment"
        ],
        "type": "object",
        "properties": {
          "assignment": {
            "$ref": "#/components/schemas/TicketAssignmentResponse"
          }
        },
        "additionalProperties": false,
        "description": "Attributes required to create a backfill ticket.",
        "format": "json"
      },
      "BackfillTicketMember": {
        "title": "BackfillTicketMember",
        "required": [
          "attributes",
          "created_at",
          "group_id",
          "id",
          "player_ip"
        ],
        "type": "object",
        "properties": {
          "id": {
            "minLength": 1,
            "type": "string",
            "description": "Id of the ticket"
          },
          "created_at": {
            "type": "string",
            "description": "Date the ticket was created.",
            "format": "date-time"
          },
          "player_ip": {
            "minLength": 1,
            "type": "string",
            "description": "The IP Address of the player."
          },
          "group_id": {
            "minLength": 1,
            "type": "string",
            "description": "Group ID of the ticket."
          },
          "attributes": {
            "type": "object",
            "additionalProperties": { },
            "description": "List of field that will be used by the matchmaking rules.\r\nThe expected fields in this object are defined by the matchmaker configuration."
          }
        },
        "additionalProperties": false,
        "description": "Describes a Ticket owned by a Backfill."
      },
      "BeaconListResponse": {
        "title": "BeaconList",
        "required": [
          "beacons",
          "count"
        ],
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of available beacons.",
            "format": "int32",
            "example": 7
          },
          "beacons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReadBeaconResponse"
            },
            "description": "The list of available beacons."
          }
        },
        "additionalProperties": false,
        "description": "List of the available beacons."
      },
      "BeaconLocationResponse": {
        "title": "BeaconLocation",
        "required": [
          "administrative_division",
          "city",
          "continent",
          "country",
          "timezone"
        ],
        "type": "object",
        "properties": {
          "city": {
            "minLength": 1,
            "type": "string",
            "description": "The city that the deployment is located in.",
            "example": "Montreal"
          },
          "country": {
            "minLength": 1,
            "type": "string",
            "description": "The country that the deployment is located in.",
            "example": "Canada"
          },
          "continent": {
            "minLength": 1,
            "type": "string",
            "description": "The continent that the deployment is located in.",
            "example": "North America"
          },
          "administrative_division": {
            "minLength": 1,
            "type": "string",
            "description": "The administrative division that the deployment is located in.",
            "example": "Quebec"
          },
          "timezone": {
            "minLength": 1,
            "type": "string",
            "description": "The timezone that the deployment is located in.",
            "example": "America/Toronto"
          }
        },
        "additionalProperties": false,
        "description": "Describes the location of a deployment."
      },
      "CreateBackfillRequest": {
        "title": "BackfillRequest",
        "required": [
          "attributes",
          "profile",
          "tickets"
        ],
        "type": "object",
        "properties": {
          "profile": {
            "minLength": 1,
            "type": "string",
            "description": "The name of the matchmaking profile that the backfill is associated with.\r\nThis is used to determine which ruleset will be used to match the backfill.",
            "example": "quickplay"
          },
          "attributes": {
            "$ref": "#/components/schemas/BackfillTicketAttributes"
          },
          "tickets": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/BackfillTicketMember"
            },
            "description": "List of tickets already in the match."
          }
        },
        "additionalProperties": false,
        "description": "Expected request body for creating a backfill.",
        "format": "json"
      },
      "CreateGroupRequest": {
        "title": "GroupRequest",
        "required": [
          "player_tickets"
        ],
        "type": "object",
        "properties": {
          "player_tickets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupPlayerTicket"
            },
            "description": "List of field that will be used by the matchmaking rules.\r\nThe expected fields in this object are defined by the matchmaker configuration."
          }
        },
        "additionalProperties": false,
        "description": "Expected request body for creating a matchmaking ticket.",
        "format": "json"
      },
      "CreatePartyTicket": {
        "title": "PartyTicketRequest",
        "required": [
          "attributes",
          "is_ready",
          "profile"
        ],
        "type": "object",
        "properties": {
          "player_ip": {
            "type": "string",
            "description": "The IP address of the player.",
            "nullable": true
          },
          "profile": {
            "minLength": 1,
            "type": "string",
            "description": "The name of the matchmaking profile that the ticket should be associated with."
          },
          "attributes": {
            "type": "object",
            "additionalProperties": { },
            "description": "List of field that will be used by the matchmaking rules.\r\nThe expected fields in this object are defined by the matchmaker configuration."
          },
          "is_ready": {
            "type": "boolean",
            "description": "Optionally provide if the ticket is ready on creation",
            "example": false
          }
        },
        "additionalProperties": false,
        "description": "Expected request body for creating a matchmaking party ticket.",
        "format": "json"
      },
      "CreateTicketRequest": {
        "title": "TicketRequest",
        "required": [
          "attributes",
          "profile"
        ],
        "type": "object",
        "properties": {
          "player_ip": {
            "type": "string",
            "description": "The IP address of the player.",
            "nullable": true
          },
          "profile": {
            "minLength": 1,
            "type": "string",
            "description": "The name of the matchmaking profile that the ticket should be associated with."
          },
          "attributes": {
            "type": "object",
            "additionalProperties": { },
            "description": "List of field that will be used by the matchmaking rules.\r\nThe expected fields in this object are defined by the matchmaker configuration."
          }
        },
        "additionalProperties": false,
        "description": "Expected request body for creating a matchmaking ticket.",
        "format": "json"
      },
      "GroupPlayerTicket": {
        "title": "GroupPlayerTicket",
        "required": [
          "attributes",
          "player_ip",
          "profile"
        ],
        "type": "object",
        "properties": {
          "player_ip": {
            "minLength": 1,
            "type": "string",
            "description": "The IP address of the player."
          },
          "attributes": {
            "type": "object",
            "additionalProperties": { },
            "description": "The attributes of the ticket."
          },
          "profile": {
            "minLength": 1,
            "type": "string",
            "description": "The name of the matchmaking profile that the ticket should be associated with."
          }
        },
        "additionalProperties": false,
        "description": "The data of a single player within a matchmaking group.",
        "format": "json"
      },
      "GroupTicketResponse": {
        "title": "GroupTicketResponse",
        "required": [
          "player_tickets"
        ],
        "type": "object",
        "properties": {
          "player_tickets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReadTicketResponse"
            },
            "description": "List of tickets that were created."
          }
        },
[...]
